@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
        
}


.wrapper {
    display: grid;
    margin: 100px 30px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 700px) {
    .wrapper {
        margin: 10px auto;
    }
}

.wrapper .boxa {
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
  text-align: center;
}

.wrapper .boxa .front-face {
    background: black;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.boxa .front-face .icon {
    height: 80px;
}

.boxa .front-face .icon i {
    font-size: 65px;
}

.boxa .front-face span,
.boxa .back-face span {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.boxa .front-face .icon i,
.boxa .front-face span {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.boxa .back-face {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.boxa .back-face p {
    margin-top: 10px;
    text-align: justify;
}

.boxa:hover .back-face {
    opacity: 1;
    transform: rotateX(0deg);
}

.boxa:hover .front-face {
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}
